{% extends 'base.html' %}
{% block main %}
<style>
    html{
        width: 100%;
        }
.flex {
  display: flex;
  justify-content: center;
  width: 95%;

  margin: 30px;

}

.item {
  width: 40%;
    background: #E0F1D6;
    padding: 10px;
}
.head {
    background: #E0F1D6;
    padding: 10px;
    text-align: center;
      height: 25vh;
      width: 100vw;
}

.item img {
  display: block;
  max-width: 100%
}

.item h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.3vw;
}

.item p {
  margin: 6px 0;
  font-size: 1vw;
  padding: 20px;
}


.tabs>input[type="radio"] {
  display: none;
}

.tabs>input[type="radio"]:checked+label {
  background-color: #bdbdbd;
}

.tabs>div {
  /* скрыть контент по умолчанию */
  display: none;
  border: 1px solid #eee;
  padding: 10px 15px;
  border-radius: 4px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: block;
}

.tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #eee;
  border: 1px solid transparent;
  padding: 2px 8px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  margin-right: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.tabs>label:first-of-type {
  margin-left: 0;
}

</style>
<div class="flex">
    <div class="head">
        <h2>Вітаю</h2>
        <p>До вашої уваги представлена аналітика з провідних європейських чемпіонатів з футболу. До списку входять
           чемпіонати Англії - Прем'єр-ліга, Іспанії - Ла-Ліга, Німеччини - Бундесліга, Франції - Ліга 1
           та Італії - Серія A</p>
        <p>А також деякі порівняння клубів, що йдуть на першому місці у своєму чемпіонаті</p>
        <p>На даний момент в Англії це: <b>{{ request_ranking_club['best_club_e']}}</b>,
            в Іспанії це: <b>{{ request_ranking_club['best_club_s']}}</b>,
            в Німеччині це: <b>{{ request_ranking_club['best_club_g']}}</b>,
            у Франції це: <b>{{ request_ranking_club['best_club_f']}}</b>
            та в Италии це: <b>{{ request_ranking_club['best_club_i']}}</b>,</p>
    </div>
</div>
<div class="tabs">
  <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
  <label for="tab-btn-1">Найкращі клуби</label>
  <input type="radio" name="tab-btn" id="tab-btn-2" value="">
  <label for="tab-btn-2">Найгірші клуби</label>
  <input type="radio" name="tab-btn" id="tab-btn-3" value="">
  <label for="tab-btn-3">Вкладка 3</label>
      <input type="radio" name="tab-btn" id="tab-btn-4" value="">
  <label for="tab-btn-3">Вкладка 3</label>
      <input type="radio" name="tab-btn" id="tab-btn-4" value="">
  <label for="tab-btn-3">Вкладка 3</label>
      <input type="radio" name="tab-btn" id="tab-btn-5" value="">
  <label for="tab-btn-3">Вкладка 3</label>
      <input type="radio" name="tab-btn" id="tab-btn-6" value="">
  <label for="tab-btn-3">Вкладка 3</label>
      <input type="radio" name="tab-btn" id="tab-btn-7" value="">
  <label for="tab-btn-3">Вкладка 3</label>
          <input type="radio" name="tab-btn" id="tab-btn-8" value="">
  <label for="tab-btn-3">Вкладка 3</label>
  <div id="content-1">
    <div class="flex">
    <div class="item">
        <img src="../static/goal.png" alt="Голы за игру">
        <h3>Атака чемпіонатів</h3>
        <p>На графіці показаний коефіцієнт атаки по чемпіонатах, він характеризує видовищність, чим вище число,
             тим цікавіше</p>
    </div>

    <div class="item">
        <img src="../static/club_goal_for.png" alt="Голы за игру среди клубов(атака)">
        <h3>Атака клубів</h3>
        <p>Порівняння атаки клубів, тобто скільки в середньому голів клуб забиває за гру</p>
    </div>
      <div class="item">
        <img src="../static/club_against_for.png" alt="Голы за игру среди клубов(защита)">
        <h3>Захист клубів</h3>
        <p>Порівняння захисту клубів, тобто скільки в середньому голів клуб пропускає за гру</p>
    </div>
</div>
  </div>
  <div id="content-2">
    Содержимое 2...
  </div>
  <div id="content-3">
    Содержимое 3...
  </div>
      <div id="content-4">
    Содержимое 3...
  </div>
      <div id="content-5">
    Содержимое 3...
  </div>
      <div id="content-6">
    Содержимое 3...
  </div>
      <div id="content-7">
    Содержимое 3...
  </div>
      <div id="content-8">
    Содержимое 3...
  </div>
</div>


</div>


{% endblock %}